$primary-lightest: #21BFE3;
$gray-light: #A5ACBC;
$gray-dark: rgba(165, 172, 188, 0.11);
$primary-dark: #131323;
$primary-light: #23355C;
$white: #ffffff;
$secondary: #D37EFF;

$success: #22a44e;
$info: #487ad3;
$warning: #f7a729;
$warning-background: rgba($warning, 0.11);
$error: #E13321;
$error-background: rgba($error, 0.11);
