/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@use 'vuetify/settings' with (
  $overlay-opacity: 0.8,
  $overlay-scrim-background: #131323,
  // tooltip
  $tooltip-text-color: #fff,
  // table
  $table-row-font-size: 1.4rem,
  $table-border-color: #5A5B51,
);

$primary-lightest: #21BFE3;
$gray-light: #A5ACBC;
$primary-dark: #131323;
$primary-light: #23355C;

// Refactor font family globally
$font-family: 'Poppins';

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

// Global/Generic styles
html {
  font-family: Poppins, sans-serif;
  overflow-y: hidden;
}

.v-tab {
  text-transform: none !important;
}

.v-btn {
  text-transform: none !important;
}

.splitpanes {
  background: transparent;
  min-width: 0;
  min-height: 0;
}

.splitpanes__pane {
  background: transparent;
  display: grid;
  overflow-y: auto;
  position: relative; // this is to allow child components to use absolute positioning to not overflow the pane
}

.splitpanes--vertical > .splitpanes__splitter {
  min-width: 0.125rem;
  background-color: white;
  opacity: var(--v-border-opacity)
}

.splitpanes--horizontal > .splitpanes__splitter {
  min-height: 0.125rem;
  background-color: white;
  opacity: var(--v-border-opacity)
}

.v-toolbar {
  width: calc(100vw - var(--v-layout-left) - var(--v-layout-right));
}

.v-breadcrumbs-item--disabled {
  color: #21BFE3 !important;
  opacity: 1;
}

.v-slide-group-item--active {
  color: #21BFE3 !important;
}

.v-chip--variant-outlined {
  border: 1px solid $gray-light !important;
  color: $gray-light !important;
  transition: all .2s linear;

  .v-chip__overlay,
  .v-chip__underlay {
    display: none;
  }

  &:hover {
    border: 1px solid rgba($primary-lightest, .5) !important;
    color: rgba($primary-lightest, .5) !important;
  }

  &.v-chip--selected {
    border: 1px solid $primary-lightest !important;
    color: $primary-lightest !important;
  }
}

.v-field__input {
  background: $primary-dark!important;
  box-shadow: none!important;
  border-radius: 5px;
}

.v-label.v-field-label {
  color: $gray-light!important;
  z-index: 1;
}

.v-expansion-panel__shadow {
  display: none;
}

.v-expansion-panel--active > .v-expansion-panel-title {
  background: $primary-light;
  opacity: 1;
  min-height: 48px;

  .v-expansion-panel-title__overlay {
    display: none;
  }
}
